.navbar {
    display: inline-block;
    width: var(--nav-width);
    background-color: var(--navbg);
    height: 100vh;
    position: fixed; 
    margin: 0;
    overflow: auto;
    transition: 0.05s;
}

.navbar .buttons button {
    width: 80%;
    background-color: var(--cardtext);
    border: none;
    display: block;
    cursor: pointer;
    color: white;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    margin: 10px auto;
  }

  .navbar .buttons button:hover{
    background-color: var(--bright-hover);
    color: white;
}
  .navbar .user {
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 10px 0;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }

  .navbar .buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
  }

  .navbar .buttonGroup p {
    color: var(--cardtext);
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
  }

.navbarHide {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background-color: var(--cardtext);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1.5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.navbarHide::after {
  content: '\203A'; /* Unicode arrow character pointing right */
  content: '\2039'; /* Unicode arrow character pointing left */
  font-size: 3em;
}

.navbarHide:hover {
  background-color: var(--bright-hover);
  cursor: pointer;
}

.navBarCollapsed {
  width: 0px;
}

.navbarShow {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  background-color: var(--cardtext);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1px;
  padding-bottom: 4px;
  border-radius: 5px;
  height: 20%;
}

.navbarShow::after {
  content: '\203A'; /* Unicode arrow character pointing right */
  font-size: 3em;
}

.navbarShow:hover {
  background-color: var(--bright-hover);
  cursor: pointer;
}

#profile_picture {
  display: block;
  object-fit: cover;
  margin: 20px auto 10px auto;
  border-radius: 50%;
  width: 50%;
  aspect-ratio : 1 / 1;
  border: 1px solid black;
}