
.course_details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; /* Move the dropdown to the right */
  gap: 40px;
  margin-top: 100px;
}

.studentEvalsDetailsCard {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 80%;
}

.course_details h1 {
  color: var(--cardtext);
  text-align: center;
  padding: 10px 40px;
  font-size: 2em;
}

.questions {
  text-transform: capitalize;
}

.studentEvalsDetailsCardContent {
  padding: 20px 50px;
  font-size: 20px;
}

.studentEvalsDetailsCardContent p {
  margin: 10px 0;
}

.studentEvalsDetailsCardContent button {
  width: 100%;
  background-color: var(--cardtext);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5%;
  margin: 10px 0;
}
.dropdowns {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: end;
}
.dropdownBox {
  flex: 1 1 0px;
  padding: 10px;
}
.dropdown {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 7px;
  border: thin solid var(--cardtext);
  background: transparent;
  margin-bottom: 20px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: var(--cardtext);
}

.introTable, .evaluationsTable {
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}

  .introTable td, .introTable th,
  .evaluationsTable td, .evaluationsTable th {
    text-align: center;
    padding: 8px;
  }

  .evaluationsTable th:first-child,
  .evaluationsTable td:first-child {
    /* Set a fixed width for the first column */
    width: 448px; /* Adjust the width to your preference */
  }

  .evaluationsTable thead tr , .introTable thead tr {
    background-color: var(--cardtext);
    color: #ffffff;
    text-align: center;
  }

  .evaluationsTable tbody tr, .introTable tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .evaluationsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

.evalQuestion {
  text-align: left !important;
}

/* First Font Size Decrease */
@media only screen and (max-width: 1100px) {
  .introTable, .evaluationsTable {
    font-size: 19px;
  }
}

/* Second Font Size Decrease */
@media only screen and (max-width: 1100px) {
  .introTable, .evaluationsTable {
    font-size: 18px;
  }
}

/* Third Font Size Decrease */
@media only screen and (max-width: 1050px) {
  .introTable, .evaluationsTable {
    font-size: 17px;
  }
}

/* Fourth Font Size Decrease */
@media only screen and (max-width: 1025px) {
  .introTable, .evaluationsTable {
    font-size: 16px;
  }
}

/* Fourth Font Size Decrease */
@media only screen and (max-width: 1000px) {
  .introTable, .evaluationsTable {
    font-size: 15px;
  }
}

/* Fifth Font Size Decrease */
@media only screen and (max-width: 975px) {
  .introTable, .evaluationsTable {
    font-size: 14px;
  }
}

/* Sixth Font Size Decrease */
@media only screen and (max-width: 950px) {
  .introTable, .evaluationsTable {
    font-size: 13px;
  }
}

/* Seventh Font Size Decrease */
@media only screen and (max-width: 925px) {
  .introTable, .evaluationsTable {
    font-size: 12px;
  }
}

/* Eighth Font Size Decrease */
@media only screen and (max-width: 900px) {
  .introTable, .evaluationsTable {
    font-size: 11px;
  }
}

/* Ninth Font Size Decrease */
@media only screen and (max-width: 875px) {
  .introTable, .evaluationsTable {
    font-size: 10px;
  }
}

/* Tenth Font Size Decrease */
@media only screen and (max-width: 850px) {
  .introTable, .evaluationsTable {
    font-size: 9px;
  }
}