{
    "baseUrl": "http://localhost:8000",
    "testEmail": "test@email.sc.edu",
    "testPassword": "password",
    "testNewPassword": "newpassword",
    "testGrantObjects": [
        {
            "amount": 10000,
            "title": "Test Grant",
            "year": "2023"
        },
        {
            "amount": 50000,
            "title": "Test Research Project 1",
            "year": "2024"
        }
    ],
    "TmpTestProfessorEmail": "sometmpprofessor@email.sc.edu",
    "TmpTestProfessorPassword": "password",
    "nonChairUserEmail": "timothyexams@email.sc.edu",
    "nonChairUserPassword": "password"
}