
/* display currentCourses in a 2 column grid */
.courses {
  display: grid;
  grid-gap: 0px;
  padding: 20px;
}
.studentEvalError {
  color: var(--error);
  text-align: center;
}
.studentEvalsCard {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 80%;
}

.studentEvalsCard h1 {
  color: black;
  text-align: left;
  padding: 10px 40px;
  font-size: 1.5em;
}

.studentEvalsCardContent {
  padding: 20px 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.studentEvalsCardContent button {
  width: 100%;
  background-color: var(--cardtext);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5%;
  margin: 10px 0;
}
.studentEvalsOptions {
  width: 60%;
}
.studentEvalsButtons {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: end;
}

.studentEvalsOptions .studentEvalsDropdownBox {
  flex: 1 1 0px;
  padding: 10px;
}
.studentEvalsOptions .studentEvalsDropdownBox h3 {
  margin: 5px;
}

.studentEvalsOptions .studentEvalsDropdown {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 7px;
  border: thin solid var(--cardtext);
  background: transparent;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: var(--cardtext);
}

/* Display One Column On Small Screen Sizes */ 
@media (max-width: 1300px) {
  .courses { grid-template-columns: 1fr; }
}

/* Display Two Columns On Large Screen Sizes */
@media (min-width: 1300px) {
  .courses { grid-template-columns: 1fr 1fr; }
}