.pageHeader {
  font-size: 3em;
  width: 100%;
  padding: 10px;
  padding-top: 50px;
  margin: 10px 0px;
  text-align: center;
  color: var(--cardtext);
}

.card {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 80%;
}

.card h1 {
  color: black;
  text-align: left;
  padding: 10px 40px;
  font-size: 2em;
}

.cardContent {
  padding: 20px 50px;
  font-size: 1.5em;
}