
.teamAssessmentsCard {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 80%;
}

.teamAssessmentCardContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.teamAssessmentsCardStats {
  padding-left: 40px;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.teamAssessmentsCardStats h1 {
  color: black;
  text-align: left;
  font-size: 1.2em;
  grid-column: span 2;
}

.teamAssessmentsButtons {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.teamAssessmentsButtons button {
  background-color: var(--cardtext);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3%;
  width: 100%;
}

.teamAssessmentsButtons button:hover {
  background-color: var(--hover);
}


.teamOptions {
  width: 60%;
}

.teamAssessmentsFilters {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: end;
}
.teamOptions .teamAssessmentsDropdownBox {
  flex: 1 1 0px;
  padding: 10px;
}
.teamOptions .teamAssessmentsDropdownBox h3 {
  margin: 5px;
}

.teamOptions .teamAssessmentsDropdown {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 7px;
  border: thin solid var(--cardtext);
  background: transparent;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: var(--cardtext);
}

.teamAssessmentsSearchCourse {
  position: relative;
}
.teamAssessmentSearchCourseDropdownContent {
  z-index: 1;
  position: absolute;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  padding-top:4px;
}
.teamAssessmentSearchCourseDropdownItem {
  padding: 1px 5px;
}
.teamAssessmentSearchCourseDropdownItem:hover {
  background-color: var(--cardbg);
  cursor: pointer;
}