
/* display currentCourses in a 2 column grid */
.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  padding: 20px;
}

.teamAssessmentsCard {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 80%;
}

.teamAssessmentsCard h1 {
  color: black;
  text-align: left;
  padding: 10px 40px;
  margin-bottom: 0;
  font-size: 1.5em;
}

.teamAssessmentsCardContent {
  padding: 0px 40px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.course_analytics_button {
  height: 80%;
  background-color: var(--cardtext);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 900;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3%;
  margin: auto 0;
}


.teamOptions {
  width: 60%;
}
.teamOptions h1 {
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}
.teamAssessmentsbuttons {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: end;
}
.teamOptions .teamAssessmentsDropdownBox {
  flex: 1 1 0px;
  padding: 10px;
}
.teamOptions .teamAssessmentsDropdownBox h3 {
  margin: 5px;
}

.teamOptions .teamAssessmentsDropdown {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 7px;
  border: thin solid var(--cardtext);
  background: transparent;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: var(--cardtext);
  margin-bottom: 10px;
}
