.researchInfoCard {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 80%;
}

.researchInfoCard h1 {
  color: black;
  text-align: left;
  padding: 10px 40px;
  font-size: 2em;
}

.researchInfoCardContent {
  padding: 20px 50px;
  font-size: 1.5em;
}


.researchInfoTable table {
  border-collapse: collapse;
  width: 100%;
}

.researchInfoTable th, .researchInfoTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.options {
  width: 60%;
}
.options h1 {
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}
.researchInfobuttons {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  align-items: end;
}
.options .dropdownBox {
  flex: 1 1 0px;
  padding: 10px;
}
.options .dropdownBox h3 {
  margin: 5px;
}

.options .researchInfoDropdown {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding: 7px;
  border: thin solid var(--cardtext);
  background: transparent;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
  color: var(--cardtext);
  margin-bottom: 10px;
}

.options .pageSelectors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.options .pageSelectorBox {
  text-align: center;
}

.options button {
  background-color: var(--cardbg);
  border: var(--cardtext) thin solid;
  display: block;
  cursor: pointer;
  color: var(--cardtext);
  font-size: 16px;
  font-weight: 900;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5%;
  height: 45px;
}

.options button:hover {
  background-color: var(--cardbghover);
}

.options .active {
  background-color: var(--cardbghover);
}