:root {
  --cardtext: #73000a;
  --bg: #D3D3D3;
  --hover: #570008;
  --cardbg: #C7C7C7;
  --error: #e7195a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginCard {
  margin: 50px;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 3px 0px 4px black;
  border-radius: 20px;
  }

    .loginCard h1 {
      width: 100%;
      padding: 10px;
      margin: 10px 0px;
    }

    .loginCard form {
      margin: 20px;
    }

    .loginCard input {
      box-sizing: border-box;
      outline: none;
      padding: 7px;
      border: none;
      border-bottom: 1px solid var(--cardtext);
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;
      color: var(--cardtext)
    }

    .loginCard .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2%;
    }

    .loginCard button {
      background-color: transparent;
      border: 1px solid var(--cardtext);
      display: inline-block;
      cursor: pointer;
      color: var(--cardtext);
      font-size: 14px;
      padding: 8px 18px;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5%;
      margin-top: 20px;
      margin-right: 20px;
    }

    .loginCard button:hover {
      /* background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%); */
      border: 1px solid var(--hover);
      color: var(--hover);
    }

    .loginCard .error {
      border-color: var(--error);
      margin-top: 10px;
    }
    .loginCard .error::placeholder {
      color: var(--error);
    }