.dashboardBody {
  display: grid;
}

.dashboardCard {
  margin: 50px auto;
  padding: 5px;
  background-color: var(--cardbg);
  color: var(--cardtext);
  box-shadow: 1px 0px 4px black;
  border-radius: 20px;
  width: 90%;
  overflow: hidden;
}

.dashboardCard h1 {
  color: black;
  text-align: left;
  font-size: 2em;
}
.dashboardCard h2 {
  color: black;
  text-align: left;
  font-size: 1em;
  margin: 5px; 
}

.dashboardCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.dashboardCardContent {
  padding: 50px 50px;
  font-size: 1.5em;
  /* text-align: center; */
}

.dashboardTable table {
  border-collapse: collapse;
  width: 100%;
}

.dashboardTable th, .dashboardTable td {
    border: 2px solid #dddddd;
    padding: 8px;
    text-align: center;
}
/* 
.publicationTable {
  font-size: 0.75em;
} */

.dashboardBody button {
  width: 30%;
  height: 50%;
  background-color: var(--cardtext);
  border: none;
  display: block;
  cursor: pointer;
  color: white;
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
}

.dashboardBody button:hover {
  background-color: var(--hover);
}
.instructorCard {
  grid-column: span 2;
  width: 95%;
}
.dashboardPlotCard {
  grid-column: span 2;
  width: 95%;
}

.dashboardPlot {
  border: black solid thin;
}

/* Display One Column On Small Screen Sizes */ 
@media (max-width: 1300px) {
  .dashboardBody { grid-template-columns: repeat(1, 1fr); }
}

/* Display Two Columns On Medium to Large Screen Sizes */ 
@media (min-width: 1300px) {
  .dashboardBody { grid-template-columns: repeat(2, 1fr); }
}
