.searchDropdownWrapper {
  position: relative;
}
.searchDropdownContent {
  z-index: 1;
  position: absolute;
  background-color: white;
  max-height: 150px;
  overflow-y: auto;
  padding-top:4px;
  border: 0.5px solid black;
}
.searchDropdownItem {
  padding: 1px 5px;
}
.searchDropdownItem:hover {
  background-color: var(--cardbg);
  cursor: pointer;
}