{
    "baseUrl": "http://localhost:3000/#",
    "loginUrl": "http://localhost:3000/#/login",
    "testEmail": "test@email.sc.edu",
    "testPassword": "test-password123",
    "testIncorrectEmail": "not-a-user@email.sc.edu",
    "testIncorrectPassword": "not-a-password",
    "TmpTestProfessorEmail": "sometmpprofessor@email.sc.edu",
    "TmpTestProfessorPassword": "Tmp-test-professor-password123",
    "studentEvalSampleFN": "test-student-eval-sample.xlsx",
    "coursesInStudentEvalSampleForTestUser": ["CSCE240", "CSCE491"],
    "expectedCourseMeanOneYear": "5.89",
    "expectedCourseMeanAllTime": "7.03",
    "nonChairUserEmail": "timothyexams@email.sc.edu",
    "nonChairUserPassword": "test-password-timothy123",
    "nonChairUserName": "Timothy Exams",
    "membersInTeamAssessmentsPage": ["Quincy Quizzes", "Timothy Exams", "Preston Presents"],
    "modifiedEvalSampleFN": "test-student-eval-sample-modified.xlsx"
}